{{ define "title" }}404 - Page Missing{{ end }} 
{{ define "ads" }}
<!-- Google tag (gtag.js) -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6356224024630676"
crossorigin="anonymous"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6356224024630676",
    enable_page_level_ads: true,
    overlays: { bottom: true }
});
</script>
{{ end }}
 {{ define "main" }}

<div class="container">
  <div class="row">
      <div class="col-sm-12">
<article>
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h1 class="card-header">
            <center>
              <h4>Error - Page Missing</h4>
            </center>
          </h1>
          <div class="card-body">
            <p>You have found a link that is broken. However, there is hope. Here is every single page on the site listed alphabetically. Use <code>control-f</code> (Windows) or <code>cmd-f</code> (MacOS) to search page titles.</p>
            <ul>
              {{ range (.Pages).ByTitle }}
              <li>
                <a href="{{.Permalink}}">{{.Title}}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
</div></div></div>
{{ end }}