{{ define "title" }}{{ .Title | markdownify }}{{ end }}

{{ define "schema-dot-org" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ printf "\"%s\"" (substr .Title 0 110) | safeJS }},
  {{- with .Params.images -}}{{ range first 1 . }}
  "image": {
    "@type": "ImageObject",
    "url": "{{ . | absURL }}"
    {{- /* Don't try to get imageConfig if image param is not local */ -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with (imageConfig (printf "/static/%s" .)) -}}
    ,
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end -}}{{ end }}
  "url": "{{ printf "%s" .Permalink }}",
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05Z0700" }}
  {{- if not .PublishDate.IsZero }}
  "datePublished": "{{ .PublishDate.Format $ISO8601 }}",
  {{- else }}
  "datePublished": "{{ .Date.Format $ISO8601 }}",
  {{- end }}
  {{- if not .Lastmod.IsZero }}
  "dateModified": "{{ .Lastmod.Format $ISO8601 }}",
  {{- end }}
  {{- with .Site.Social.GooglePlus }}
  "publisher": "{{ printf "%s" . }}",
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author | default .Site.Params.author }}"
  }
  {{- if or (.Params.categories) (.Params.tags) -}}
  ,
  "keywords": "{{ delimit (union .Params.categories .Params.tags) ", " }}"
  {{- end }}

  ,"description": {{ printf "\"%s\"" .Description | safeJS }}
}
</script>

{{ end }}

{{ define "main" }}
{{ $dateFormat := default " January 2, 2006" (index .Site.Params "date_format") }}

<article>
  <div class="article">
    <header>
        {{- if .Params.disppsbadge }}
        <div class="alert alert-primary" role="alert">
            Learning about data technologies on iOS? <br/><br/>
            I've created courses on <a href="http://bit.ly/core-data-swift" class="alert-link">Core Data</a>, <a href="http://bit.ly/cloudkit-fundamentals" class="alert-link">CloudKit</a>, and <a href="http://bit.ly/core-data-primary-keys" class="alert-link">the Big Picture of Data Persistence on iOS</a> for <a href="http://bit.ly/ps-author-page" class="alert-link">Pluralsight</a>.  <br/><br/>Deepen your understanding by checking them out!
          </div>
        {{- end }}
      <h1 class="article-title">{{ .Title }}</h1>
      {{- if .Params.displaydate }}
      <div class="article_date">
        <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " }}">{{ .Date.Format $dateFormat }}</time>
      </div>
      {{- end }}
    </header>
    <div class="content">
    {{- if .Params.wip }}
    <aside class="wip">
        <div>
            <h4>Thanks for stopping by!</h4>
            <p>You're reading an <a href="/work-in-progress">active work in progress</a>, which means things could be a little cluttered. But I'm glad you're here, and I hope you enjoy the discoveries below!</p>
              <p>Everything on this site is available on GitHub if you'd like to <a href='https://github.com/andrewcbancroft/andrewcbancroft-blog/'>contribute</a>.</p>
        </div>
    </aside>
    {{- end}}

    {{- if .Params.sol }}
    <aside class="wip">
        <div>
            <h4>Swifting...Out...Loud?</h4>
            <p>Every now and then, I get questions in my indox from readers and friends. This section offers my "out loud" thoughts on one of those questions.</p>
            <p>I offer <em>a</em> perspective, but mine isn't the only one that counts. Everything on this site is available on GitHub if you'd like to <a href='https://github.com/andrewcbancroft/andrewcbancroft-blog/'>contribute</a>. You can also leave a comment to continue the dialog and offer "out loud" thoughts of your own! 🙌🏻</p>
        </div>
    </aside>
    {{- end}}

    <p>{{ .Params.introtext }}</p>

    {{- if .Params.toc }}
    <aside class="toc">
      <div class="toc-header">Jump to...</div>
      {{ .TableOfContents }}
    </aside>
    {{- end }}

    {{ .Content }}

    <aside>
      {{ $related := .Site.Pages.Related . | first 5 }}
      {{ with $related }}
      <div class="resources">
        <div class="resources-header">
            You might also enjoy...
        </div>
        
        <ul class="resources-content">
            {{ range . }}
            <li><i class="fa fa-angle-right"></i> <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        <ul>
      {{ end }}
    </aside>

    {{ template "_internal/disqus.html" . }}
  </article>

{{ end }}
